In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [2]:
data=pd.read_csv("datasets\\final_dataset.csv")
dataT=pd.read_csv("datasets\\test.csv")
data.head()
dataT.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,NH,0.38,0.468750,0.626506,0.632911,0.000000,0.000000,L,L,L,...,0,0,0,0,0,-0.400000,-0.142857,0.000000,-0.028571,-2.0
1,H,0.48,0.354167,0.578313,0.936709,0.028571,0.085714,D,W,L,...,0,0,0,0,0,0.000000,-1.142857,-0.057143,-0.057143,-13.0
2,NH,0.38,0.281250,0.566265,0.518987,0.000000,0.085714,L,L,W,...,0,0,0,0,0,-0.257143,-0.400000,-0.085714,-0.171429,2.0
3,H,0.55,0.583333,0.409639,0.506329,0.000000,0.000000,L,W,W,...,0,0,0,0,0,0.600000,0.457143,0.000000,0.085714,-2.0
4,NH,0.34,0.614583,0.518072,0.518987,0.000000,0.085714,L,W,L,...,0,0,0,0,0,-0.257143,0.514286,-0.085714,0.028571,12.0

In [3]:
ftrLE=LabelEncoder()
data.FTR=ftrLE.fit_transform(data.FTR)
dataT.FTR=ftrLE.transform(dataT.FTR)
dataT.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,1,0.38,0.468750,0.626506,0.632911,0.000000,0.000000,L,L,L,...,0,0,0,0,0,-0.400000,-0.142857,0.000000,-0.028571,-2.0
1,0,0.48,0.354167,0.578313,0.936709,0.028571,0.085714,D,W,L,...,0,0,0,0,0,0.000000,-1.142857,-0.057143,-0.057143,-13.0
2,1,0.38,0.281250,0.566265,0.518987,0.000000,0.085714,L,L,W,...,0,0,0,0,0,-0.257143,-0.400000,-0.085714,-0.171429,2.0
3,0,0.55,0.583333,0.409639,0.506329,0.000000,0.000000,L,W,W,...,0,0,0,0,0,0.600000,0.457143,0.000000,0.085714,-2.0
4,1,0.34,0.614583,0.518072,0.518987,0.000000,0.085714,L,W,L,...,0,0,0,0,0,-0.257143,0.514286,-0.085714,0.028571,12.0

In [4]:
hmLE=LabelEncoder()
data.HM1=hmLE.fit_transform(data.HM1)
dataT.HM1=hmLE.fit_transform(dataT.HM1)
dataT.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,1,0.38,0.468750,0.626506,0.632911,0.000000,0.000000,1,L,L,...,0,0,0,0,0,-0.400000,-0.142857,0.000000,-0.028571,-2.0
1,0,0.48,0.354167,0.578313,0.936709,0.028571,0.085714,0,W,L,...,0,0,0,0,0,0.000000,-1.142857,-0.057143,-0.057143,-13.0
2,1,0.38,0.281250,0.566265,0.518987,0.000000,0.085714,1,L,W,...,0,0,0,0,0,-0.257143,-0.400000,-0.085714,-0.171429,2.0
3,0,0.55,0.583333,0.409639,0.506329,0.000000,0.000000,1,W,W,...,0,0,0,0,0,0.600000,0.457143,0.000000,0.085714,-2.0
4,1,0.34,0.614583,0.518072,0.518987,0.000000,0.085714,1,W,L,...,0,0,0,0,0,-0.257143,0.514286,-0.085714,0.028571,12.0

In [5]:
data.HM2=hmLE.fit_transform(data.HM2)
data.HM3=hmLE.fit_transform(data.HM3)
data.HM4=hmLE.fit_transform(data.HM4)
data.HM5=hmLE.fit_transform(data.HM5)
data.AM1=hmLE.fit_transform(data.AM1)
data.AM2=hmLE.fit_transform(data.AM2)
data.AM3=hmLE.fit_transform(data.AM3)
data.AM4=hmLE.fit_transform(data.AM4)
data.AM5=hmLE.fit_transform(data.AM5)

dataT.HM2=hmLE.fit_transform(dataT.HM2)
dataT.HM3=hmLE.fit_transform(dataT.HM3)
dataT.HM4=hmLE.fit_transform(dataT.HM4)
dataT.HM5=hmLE.fit_transform(dataT.HM5)
dataT.AM1=hmLE.fit_transform(dataT.AM1)
dataT.AM2=hmLE.fit_transform(dataT.AM2)
dataT.AM3=hmLE.fit_transform(dataT.AM3)
dataT.AM4=hmLE.fit_transform(dataT.AM4)
dataT.AM5=hmLE.fit_transform(dataT.AM5)

In [6]:
data.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0,0,0.0,0.0,0.0,0.0,-11.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0,0,0.0,0.0,0.0,0.0,2.0
2,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0,0,0.0,0.0,0.0,0.0,2.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0,0,0.0,0.0,0.0,0.0,-17.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0,0,0.0,0.0,0.0,0.0,4.0

In [7]:
print(data.shape)
print(dataT.shape)

(1860, 30)
(800, 30)

In [9]:
onehotencoder=OneHotEncoder()
onehotencoder.fit(data.FTR.values.reshape(-1,1))

OneHotEncoder()

In [10]:
final=onehotencoder.transform([[each] for each in data.FTR]).toarray()

In [11]:
final.shape

(1860, 2)

In [12]:
finalT=onehotencoder.transform([[each] for each in dataT.FTR]).toarray()

In [13]:
finalT.shape

(800, 2)

In [14]:
data.loc[:,"final1"]=final[:,0]
data.loc[:,"final2"]=final[:,1]

In [15]:
# data=data.drop(["final"],axis=1)
data.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP,final1,final2
0,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0.0,0.0,0.0,0.0,-11.0,1.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0,0.0
2,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0,1.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0.0,0.0,0.0,0.0,-17.0,1.0,0.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0.0,0.0,0.0,0.0,4.0,0.0,1.0

In [16]:
dataT.loc[:,"final1"]=finalT[:,0]
dataT.loc[:,"final2"]=finalT[:,1]

In [17]:
# data=data.drop(["final"],axis=1)
dataT.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP,final1,final2
0,1,0.38,0.468750,0.626506,0.632911,0.000000,0.000000,1,1,1,...,0,0,0,-0.400000,-0.142857,0.000000,-0.028571,-2.0,0.0,1.0
1,0,0.48,0.354167,0.578313,0.936709,0.028571,0.085714,0,3,1,...,0,0,0,0.000000,-1.142857,-0.057143,-0.057143,-13.0,1.0,0.0
2,1,0.38,0.281250,0.566265,0.518987,0.000000,0.085714,1,1,3,...,0,0,0,-0.257143,-0.400000,-0.085714,-0.171429,2.0,0.0,1.0
3,0,0.55,0.583333,0.409639,0.506329,0.000000,0.000000,1,3,3,...,0,0,0,0.600000,0.457143,0.000000,0.085714,-2.0,1.0,0.0
4,1,0.34,0.614583,0.518072,0.518987,0.000000,0.085714,1,3,1,...,0,0,0,-0.257143,0.514286,-0.085714,0.028571,12.0,0.0,1.0

In [18]:
dataT[["final1","final2"]].values.shape

(800, 2)

In [19]:
data=data.drop(["HM5","AM5"],axis=1)
dataT=dataT.drop(["HM5","AM5"],axis=1)

In [20]:
print(data.shape)
print(dataT.shape)

(1860, 30)
(800, 30)

In [21]:
data.to_csv("allAtt_onehot_large_train.csv",index=None)
dataT.to_csv("allAtt_onehot_large_test.csv",index=None)